html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 15px;
}

.row {
    width: 100%;
}

.cell {
    min-height: 50px;
}

.cell-white {
    color: white;
}
.title {
    font-size: 1.5rem;
    padding: 10px 10px;
}
.paragraph {
    padding: 10px 5px;
    font-size: 1rem;
    color: #A2A3A3;
}
/* HEADER */
.header {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header__container {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%; */
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__items {
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav__item {
    height: 50px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    text-decoration: none;
}

.nav__link:hover {
    color: #58D5F7
}

.hero {
    display: flex;
}

.hero__content {
    min-height: 200px;
    width: 40%;
    text-align: left;
    margin-right: 15px;
}

.hero__image {
    min-height: 300px;
    width: 50%;
}

.content_h1 {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 5px;
}

.content__p {
    color: rgb(255, 255, 255, 0.75);
}

.hero__image-rotate {
    min-width: 200px;
    min-height: 100px;
    rotate: 350deg;
}

.button-hero {
    background-color: rgb(38, 241, 139);
    border: 1px solid #25F18B;
    transition: background-color 0.5s ease-in-out;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 5px;
    min-width: 200px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.button-hero:hover {
    background-color: #6AFFB4;
}

.button-hero__link {
    text-align: center;
}

.button-hero--cta {
    background-color: rgb(9, 188, 235);
    border: 1px solid rgb(9, 188, 235);
    transition: background-color 0.5s ease-in-out;
    min-width: 100px;
}

.button-hero--cta:hover {
    background-color: #58D5F7;
}

.button-hero--cta:hover,
.button-hero:hover {
    border-radius: 10%;
}

/* End of HEADER */

/* MAIN */
/* Features */
.features {
    background-color: black;
}
.title__content {
    color: white;
    display: flex;
    justify-content: center;
}

.features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}
.image-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}
.features__image {
    background: white;
    border-radius: 50%;
}

.features__content {
    font-size: 0.8rem;
    color: rgb(255, 255, 255, 0.8);
}

/* End of Features */
.row-grey{
    background-color: #F9FAFA;
}
.logos {
    display: flex;
    justify-content: center;
}
.imac-cell {
    display: flex;
    margin-top: 30px;
}
.imac__image{
    min-height: 300px;
    width: 50%;
}
.imac__content {
    min-height: 200px;
    width: 40%;
    margin-left: 80px;
}
.pricing-cl {
    display: flex;
    margin: 40px auto;
}
.pricing-header {
    margin-top: 20px;
}
.price {
    font-size: 3rem;
    font-weight: 800;
    padding: 10px;
}
.options__bold {
    font-weight: bold;
}
.pricing-options {
display: flex;
align-items: center;
padding:40px;
}
.pricing-header__p {
    font-size: 0.8rem;
    text-align: center;
}
.option_list {
    margin-top: 20px;
    margin-bottom: 40px;
}
.options {
    text-align: center;
    margin: 20px;
    padding: 30px;
    min-height: 300px;
    flex-basis: 33.33%;
}
.option-highlight {
    background-color: white;
    box-shadow: 5px 8.7px 40px rgb(99 117 138 / 30%);
    border-radius: 7px;
}
/* End of MAIN */
/* FOOTER */
TEAM!! + footer
/* End of FOOTER */

